<a href="https://colab.research.google.com/github/srija2771/Day-2-Assignment/blob/main/srija/Copy_of_data_structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1.Difference between the list and tuple?

In [2]:
#list is mutable.tuple is immutable
#In list,we can insert or delete the elements.In tuple,we access the elements
a=[1,2,3,4,5]
a[1]=0
print(a)

a=(1,2,3)
print(a[2])

[1, 0, 3, 4, 5]
3

## 2.How list is different from an array

In [ ]:
list contains the elements of different datatypes.
Array contains the elements of same datatypes.

## 3. Use the python list append(),copy(), clear, count, extends(), index(), insert(), pop(), reverse(), sort(), min(), max(),and sum()

In [40]:
a=[1,2,3,4,5]
a.append(6)
a.copy()
a.clear()
a.append(5)
a.index(5)
a.insert(1,4)
a.pop()
a.append(7)
a.reverse()
a.sort()
print(min(a))
print(max(a))
print(sum(a))
print(a.count(5))
print(a)

5
7
12
1
[5, 7]

## 4, How would you divide the list into two parts?

In [42]:
a=[1,2,3,4,5,6]
a1=[]
a2=[]
for i in a:
  if i%2==0:
    a1.append(i)
  else:
    a2.append(i)
print(a1)
print(a2)

[2, 4, 6]
[1, 3, 5]

## 5. how to filter the multiple of 3 from a given list and them remove the odd number from the new filtered list.
Eg A = [1,2,3,4,5,6,7,8,9,21,23,24]
Filter_lsit = [3,6,9,21,24]
output_list = [6,24]

In [1]:
A=[1,2,3,4,5,6,7,8,9,21,23,24]
Filter_lsit=[]
output_list=[]
for i in A:
  if i%3==0:
    Filter_lsit.append(i)
    if i%2==0:
      output_list.append(i)
print(Filter_lsit)
print(output_list)

[3, 6, 9, 21, 24]
[6, 24]

## 7. Write python program to join, merge, concatente the two dictionaries..

In [18]:
d1={'a': 1, 'b': 2}
d2={'b': 3, 'c': 4}
d1.update(d2)
print("Joined Dictionary:", d1)
md={**d1, **d2}
print("Merged Dictionary:", md)

Joined Dictionary: {'a': 1, 'b': 3, 'c': 4}
Merged Dictionary: {'a': 1, 'b': 3, 'c': 4}

## 8. How would you check a specific keys from the dictionary??

In [7]:
a="12312345"
d={}
for i in a:
  if i not in d:
    d[i]=1
  else:
    d[i]+=1
a1=[]
for key,value in d.items():
  if key in d.keys():
    a1.append(value)
print(d)
print(a1)

{'1': 2, '2': 2, '3': 2, '4': 1, '5': 1}
[2, 2, 2, 1, 1]

## 9. write a python program to find the unique vowel present in the sentence

In [8]:
a="aeieiouspySA"
d={}
for i in range(len(a)):
  if a[i]=='a' or a[i]=='e' or a[i]=='i' or a[i]=='o' or a[i]=='u' or a[i]=='A' or a[i]=='E' or a[i]=='I' or a[i]=='O' or a[i]=='U':
    if a[i] not in d:
      d[a[i]]=1
    else:
      d[a[i]]+=1
  else:
    pass
a1=[]
for key,value in d.items():
  if value==1:
    a1.append(key)
print(d)
print(a1)

{'a': 1, 'e': 2, 'i': 2, 'o': 1, 'u': 1, 'A': 1}
['a', 'o', 'u', 'A']

## 10. We know that tuple is immutable, do any thing and add element to the tuples.

In [11]:
a=(1,2,3,4)
b=5
a+=(b,)
print(a)

(1, 2, 3, 4, 5)

## 11. How would you sum the list of tuple and sum of tuple of list
list  = [(2,3),(4,5),(6,4)]
output= [5,9,10]

tuple  =([2,3],[4,5],[6,4])
output  =  (5,9,10)

In [20]:
li=[(2,3),(4,5),(6,4)]
out=[]
for i in range(len(li)):
  out.append(int(sum(li[i])))
print(out)
a1=([2,3],[4,5],[6,4])
a2=list(a1)
a3=[]
for i in a2:
  a3.append(sum(i))
print(tuple(a3))

[5, 9, 10]

## 12. FIND THE FREQUENCY OF THE KEYS IN THE GIVEN DICTIONARY

In [9]:
#value of the key gives the frequency of the key in the Dictionary
a="1231234123"
d={}
for i in a:
  if i not in d:
    d[i]=1
  else:
    d[i]+=1
print(d)

{'1': 3, '2': 3, '3': 3, '4': 1}